---
layout: subpage
---

		<!-- Main -->
			<section id="main" class="wrapper sidebar right">
				<div class="inner">

					<header class="major">
						<h2>{{ page.title }}</h2>
						<p class="page-description">{{ page.description }}</p>
					</header>

					<!-- Content -->
						<div class="content">
						{{ content }}
						</div>
						<!-- Sidebar -->
						<div class="sidebar">

							<section>
								<!-- <a href="#" class="image fit"><img src="{{ site.url }}images/pic01.jpg" alt="" /></a> -->
								<h3>Sign-up for new clients.</h3>
								<p>It is difficult to say whether a real estate transaction will turn into a personal injury, family, or corporate file. Don’t miss out on this new opportunity! </p>
								<footer>
									<ul class="actions">
										<li><a href="/signup" class="button blue-button">Sign up</a></li>
									</ul>
								</footer>
							</section>

						</div>

				</div>
			</section>
