---
layout: subpage
---

		<!-- Main -->
			<section id="main" class="wrapper sidebar right">
				<div class="inner">

					<header class="major">
						<h2>{{ page.title }}</h2>
						<p class="page-description">{{ page.description }}</p>
					</header>

					<!-- Content -->
						<div class="content">
						{{ content }}
						</div>
						<!-- Sidebar -->
						<div class="sidebar">

							<section>
								<!-- <a href="#" class="image fit"><img src="{{ site.url }}images/pic01.jpg" alt="" /></a> -->
								<h3>Get more information</h3>
								<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
								<footer>
									<ul class="actions">
										<li><a href="/signup" class="button blue-button">Sign up</a></li>
									</ul>
								</footer>
							</section>

						</div>

				</div>
			</section>
